.fish{
    width:350px;
    height: 300;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.mainContent{
    display: block;
  margin-left: 150px;
  margin-right: 150px;
}

.coralImg{
  margin-left: 30%;
  margin-right: 30%;
  width: 400px;
}